* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
    font-family: arial, sans-serif;
    margin: 0;
    color: white;
}
header {
    background-color: #7f0200;
    padding: 30px 40px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.logo {
    font-size: 22px;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
}
nav a:hover {
    color: #03923f;
}
.search-container {
    display: flex;
    align-items: center;
}
.search-container input {
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.search-container button {
    background-color: #03923f;
    border: none;
    padding: 6px 12px;
    border-radius: 0 5px 5px 0;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
.search-container button i {
    font-size: 18px;
    vertical-align: middle;
}
.tentang {
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 40px;
  position: relative;
  font-family: "Cinzel", serif;
}
.penjelasan {
  max-width: 900px;
  margin: 0 auto 25px;
  font-size: 20px;
  text-align: justify;
  color: #7f0200;
  font-family: 'Times New Roman', Times, serif;
}
.layanan {
  text-align: center;
  padding: 60px 20px;
}
.layanan h2 {
  font-size: 2em;
  margin-bottom: 40px;
  color: black;
  text-transform: uppercase;
  font-family: "Cinzel", serif;
}
.layanan-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}
.layanan-box {
  background: #e7d6d6;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.layanan-box:hover {
  transform: translateY(-5px);
}
.layanan-box img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}
.layanan-box img.potrait {
  object-fit: contain !important;
  height: 350px !important;
  background-color: #f4f4f4;
}
.layanan-box h3 {
  font-size: 1.3em;
  color: #222;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-family: sans-serif;
}
.layanan-box p {
  color: #555;
  font-size: 0.95em;
  line-height: 1.6;
  font-family: 'Times New Roman', Times, serif;
}
.footer-simple {
  background-color: #7f0200;  
  color: #f4f4f4;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  border-top: 3px solid #e5e5b8; 
  margin: auto;
}

.footer-simple a {
  color: #e5e5b8;
  text-decoration: none;
  font-weight: 500;
}

.footer-simple a:hover {
  text-decoration: underline;
}

.footer-simple span {
  color: #ffffff;
  font-weight: 600;
}
