* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
    font-family: arial, sans-serif;
    margin: 0;
    color: white;
}
header {
    background-color: #7f0200;
    padding: 30px 40px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.logo {
    font-size: 22px;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
}
nav a:hover {
    color: #03923f;
}
.search-container {
    display: flex;
    align-items: center;
}
.search-container input {
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.search-container button {
    background-color: #03923f;
    border: none;
    padding: 6px 12px;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
.search-container button i {
    font-size: 18px;
    vertical-align: middle;
}
.container {
  text-align: center;
  padding: 60px 20px;
}

.container h1 {
  font-size: 2.2rem;
  color: #222;
  margin-bottom: 50px;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.contact-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}
.card {
  background: #7f0200;
  width: 260px;
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
.card i {
  font-size: 40px;
  color: #fff;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.card h2 {
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.card a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-simple {
  background-color: #7f0200;  
  color: #f4f4f4;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  border-top: 3px solid #e5e5b8; 
  margin: auto;
}

.footer-simple a {
  color: #e5e5b8;
  text-decoration: none;
  font-weight: 500;
}

.footer-simple a:hover {
  text-decoration: underline;
}

.footer-simple span {
  color: #ffffff;
  font-weight: 600;
}
html, body {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}
header {
  flex-shrink: 0; 
}
.container {
  flex: 1; 
}
.footer-simple {
  background-color: #7f0200;  
  color: #f4f4f4;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  border-top: 3px solid #e5e5b8; 
  margin-top: auto; 
  width: 100%; 

}
